{% extends "static/base.html" %}
{% load staticfiles %}
{% load register_extras %}
{% load account socialaccount %}
{% block body %}
<style>
	#id_remember {
		height: 20px;
	}
</style>
<div class="container" style="padding-top:2%;">
	<!--contact-->

	<div class="col-sm-6 col-md-4 col-md-offset-4">
	    <div class="panel panel-default">
	        <div class="panel-heading">
	            <h2 style="text-align: center">  Sign in</h2>
	        </div> <!-- panel-heading -->
	        <div class="panel-body">
	            <form role="form" action="{% url 'account_login' %}" method="POST">
	            {% csrf_token %}
	                <fieldset>
						{% load tz %}
								{% for field in form.visible_fields %}
								<div id="div_{{ field.html_name }}"
										class="form-group{% if field.errors %} has-error{% endif%}">
										<label class="col-sm-4 control-label" for="{{ field.id_for_label }}">
												{{ field.label }}
										</label>
          						<div class="col-md-8 cnt-inpt">
          							{{ field|addcss:"form-control" }}
          							<div class="text-muted pull-right">
          													<small>{{ field.help_text }}</small>
          											</div> <!-- form-group -->
          											<span class="help-block">
          													{% for error in field.errors %} {{error }} {% endfor %}
          											</span> <!-- help-block -->
          									</div> <!-- col-sm-4 -->
          					</div>
          					{% endfor %}
          							{% for hidden in user_form.hidden_fields %} {{ hidden }} {% endfor %}

          						<div class="form-group"  >
										 <button type="submit"  id="loginbutton" data-loading-text="Logging in..."
												 class="btn btn-block btn-primary">Login <i class="fa fa-angle-double-right"></i> </button>
          							 </div> <!-- form-group -->
          					 </fieldset>
	            </form>
	        </div> <!-- panel-body -->

	        <div class="panel-footer" style="text-align: center;">
	           <a href="{% url 'register_user' %}" onClick="">  Sign Up |</a> <a href="{% url 'account_reset_password' %}"> Lost Password? </a>
	            <div class="password-reset-link">
	                </div> or

	         <p>
                            <a href="/accounts/google/login"> <button type='button' class="btn btn-danger"><i class="fa fa-google-plus"> </i>Google  </button></a>
                            <a href="/accounts/github/login"> <button type='button'  id="github_button" class='btn tf-btn' style="background-color:rgb(80,80,80) "><i class="fa fa-github"></i>  Github</button></a>
                          </p>
	            </div>
	        </div> <!-- panel footer -->
	    </div> <!-- panel -->
	</div> <!-- col-sm-6 col-md-4 col-md-offset-4 -->
</div>
<script>
  $('#loginbutton').on('click', function () {
			$(this).button('loading').delay(1000).queue(function() {
			$(this).button('reset');
			$(this).dequeue();
		});
  });
</script>
{% include 'static/login-model.html' %}
{% endblock body %}
