{% extends "static/base_home.html" %}
{% load staticfiles %}
{% block body %}
<div class="container container-top">
<div class="col-sm-6 col-md-4 col-md-offset-4" style="padding-top: 15px">
        <div class="page-header">
        <h1 style="text-align: center">Password Changed Successfully!</h1>
    </div><!--page-header-->
    <div class="row">
        <div class="alert alert-success" style="text-align: center">
            You have succesffully changed your password!
        </div><!--alert alert-success-->
    </div><!--row-->
</div> <!-- col-sm-6 col-md-4 col-md-offset-4 -->
</div>
{% include 'static/login-model.html' %}
{% endblock body %}
